mixin divider(chapter, title, gif, dual=false, intro=false)
  - var dividerExtra = intro === false ? "regDivider" : "roDivider";
  .divider(class=`divider__${chapter} ${dividerExtra}`)
    if (!intro)
      .divider__container
        .divider__container-num=chapter
        .divider__container-text=title
      if (!dual)
        video(src=`${gif}` playsinline loop muted autoplay class=`divider__gif divider__gif-${chapter}`)
      if (dual)
        .divider__dual
          video(src=`${gif}` playsinline loop muted autoplay class=`divider__dual-gif divider__gif-${chapter}`)
          video(src=`${gif}` playsinline loop muted autoplay class="divider__dual-gif")
    if (intro)
      .divider__textIntro From lying in bed with no ideas to negotiating with the biggest superstar on planet earth.
      video(src=`${gif}` playsinline loop muted autoplay class="divider__gif")

