mixin ideaList()
  .ideaList
    if ideas
      each idea in ideas
        .ideaList__inner.cursorOverride(data-location=`/ideas/${idea._id}`)
          .ideaList__inner-top
            h3.ideaList__inner-top-title= idea.title
            if (!user)
              - var votedClass = ''
            else
              - var ideasVotedByUser = user.voted.toString()
              - var votedClass = ideasVotedByUser.includes(idea._id.toString()) ? 'votedTrue' : ''
            .votingButton(data-upvote=`/api/ideas/${idea._id}/heart`)
              .iUpVoteIcon(class=votedClass)!= icon(`upVote`)
            .iUpVoteScore #{idea.upVotes && idea.upVotes.length}
          .iDesc= idea.desc
          .iFooter
            .iFooterA
              img.iAuthorImg(src=`${idea.author.profileImg}` alt="Author")
              .iAuthor= idea.author.username
              .iDot!= icon('oval')
              - const diw = `${diwtn(idea.created)}`.replace("about", "").replace("less than", "")
              .iTimeAgo= `${diw} ago`
              .iDot!= icon('oval')
              - let noocomments = idea.comments.length === 1 ? `${idea.comments.length} Comment` : `${idea.comments.length} Comments`
              .iComments= noocomments
            a(class="enterDiscussion" href=`/ideas/${idea._id}`)
              | Enter Discussion
              .iChevronDown!= icon('chevronDown')
