mixin specific()
  .ideaList
    .ideaList__inner
      .ideaList__inner-top
        h3.ideaList__inner-top-title= idea.title
          if (!user)
            - var votedClass = ''
          else
            - var ideasVotedByUser = user.voted.toString()
            - var votedClass = ideasVotedByUser.includes(idea._id.toString()) ? 'votedTrue' : ''
        .votingButton(data-upvote=`/api/ideas/${idea._id}/heart`)
          .iUpVoteIcon(class=votedClass)!= icon(`upVote`)
        .iUpVoteScore #{idea.upVotes && idea.upVotes.length}
      .iDesc= idea.desc
      .iFooter
        .iFooterA
          img.iAuthorImg.iaiSI(src=`${idea.author.profileImg}` alt="Author")
          .iAuthor.aiSI= idea.author.username
      form.postComment(action=`/comment/${idea._id}` method="POST")
        textarea.aiShared.aiDescInput.aisSI(name="comment" placeholder="Roast my Idea below")
        input.pfOverride(type="submit" value="Roast Away")
      if idea.comments
        each comment in idea.comments
          .commentContainer
            .upVoteCommentContainer
              form(method="POST" action=`/api/specificIdea/${comment._id}/vote` class="commentButton")
                if (!user)
                  - var votedClass = ''
                else
                  - var commentsVBU = user.upvotedComments.toString()
                  - var votedClass = commentsVBU.includes(comment._id.toString()) ? 'votedTrue' : ''
                button.specificVotingButton(type="submit")
                  .uvcIcon(class=votedClass)!= icon(`upVoteComment`)
              .upVoteCommentValue #{comment.upVotes && comment.upVotes.length}
            .specificComment= comment.comment
            .scFooter
              img.iAuthorImg(src=`${comment.author.profileImg}` alt="Author")
              .iAuthorSI= comment.author.username
              .iDot!= icon('oval')
              .iTimeAgo= `${diwtn(comment.created)} ago`
